<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>me.desaules.bootstrap-my-mac</string>
        <key>Program</key>
        <string>/Users/tdesaules/Repositories/github.com/Bootstrap-My-Mac/bootstrap.sh</string>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>